@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(15, 15, 15);
    color: azure;
    font-family: 'Montserrat', sans-serif;
    gap: 3rem;
}
header p{
    opacity: 80%;
}

